*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
/lab1-onsaitpas/idl/target
/lab1-onsaitpas/client_poste/target
/lab1-onsaitpas/client_voiture/target
/lab1-onsaitpas/server_poste/target
/lab1-onsaitpas/server_voiture/target
.metadata/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/RemoteSystemsTempFiles/.project
/lab1-onsaitpas/.settings
*.prefs
/lab1-onsaitpas/persistance/BanqueDossiers
/lab1-onsaitpas/persistance/BanqueInfractions
/lab1-onsaitpas/persistance/BanqueReactions
/lab1-onsaitpas/scripts/bash/_nsdb_root
/.recommenders/*
/log720-A11-lab1-equipeonsaitpas.zip_
/remise/*
