<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>
		<!-- Values for hbm2ddl.auto:
			 create: recreates schema (all existing data is lost, use this setting only on the first run)
			 update: adds to existing tables.
		-->
		<property name="hbm2ddl.auto">update</property>

		<!-- Mapping files -->
		<mapping resource="ca/etsmtl/log720/lab3/domain/Infraction.hbm.xml" />
		<mapping resource="ca/etsmtl/log720/lab3/domain/Dosinfraction.hbm.xml" />
		<mapping resource="ca/etsmtl/log720/lab3/domain/Dossier.hbm.xml" />
	</session-factory>
</hibernate-configuration>
